
@media(min-width: 1000px){
    .ddashh{
        margin-left: 500px;
    }
    .dashhead{
        font-size: 50px;
    }
    .pldr{
        margin-left: 700px;
    }
    .daassh{
        width: 400px;margin-left: 240px;
      }
    }
    
    @media(max-width: 426px){
        .dashhead{
            font-size: 30px;
        }
        .tp{
            margin-top: 10px;
        }
        .pldr{
            margin-left: 150px;
        }
        .flex1{
            display: block;
        }
        .details{
            zoom: 1.1;
        }
    }

    @media(max-width: 381px){
        .pldr{
            margin-left: 130px;
        }
    }
    
    @media(max-width: 351px){
        .pldr{
            margin-left: 120px;
        }
    }

    @media(max-width: 331px){
        .pldr{
            margin-left: 110px;
        }
    }
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";