
@media(min-width: 1000px){
  .ddashh{
      margin-left: 500px;
  }
  .dashhead{
      font-size: 50px;
  }
  .pldr{
      margin-left: 700px;
  }
  
  }
  
  @media(max-width: 426px){
      .dashhead{
          font-size: 30px;
      }
      .tp{
          margin-top: 10px;
      }
      .pldr{
          margin-left: 150px;
      }
  }
  
  
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";