<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-6 headclass" *ngIf="!loader">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <img class="fill-current h-15 w-15 mr-5" width="54" height="54" viewBox="0 0 54 54" src="../../../assets/logo.png" style="margin-top: 5px;">
            <span class="font-semibold text-xl tracking-tight">Inception Wave</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
            <a (click)="dash()" class="block lg:inline-block lg:mt-0 text-white hover:text-white mr-4 tp" style="cursor: pointer;">
                HOME
            </a>
            <a routerLink="/adminprofile/{{regno}}" class="block lg:inline-block lg:mt-0 text-white hover:text-white mr-4 tp hover:no-underline">
                PROFILE
            </a>
            </div>
            <div>
            <a (click)="loggout()" style="cursor: pointer;" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent lg:mt-0 tp">Log Out</a>
            </div>
        </div>
    </nav>
    <h1 class="text-center text-3xl leading-9 font-extrabold text-gray-900">
      <circle-progress *ngIf="loader"
        [percent]="100"
        [radius]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        outerStrokeColor="white"
        innerStrokeColor="white"
        [animation]="true"
        [animationDuration]="10000"
        >
      </circle-progress>
    </h1> 
    <!-- SIGN-UP FORM -->
    <div class="min-h-screen flex justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8" *ngIf="!loader">
    <form class="w-full max-w-lg">
        <h2 class=" text-center text-3xl leading-9 font-extrabold text-gray-900">
            ADD NEW TASK
        </h2>
        <br><br>
        <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              Intern's Name
            </label>
            <div class="relative">
              <select class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="username" [(ngModel)]="newTask.username">
                <option value="{{user.username}}" name="username" *ngFor="let user of users1">{{user.username}}</option>
              </select>
            </div>
        </div>
        <!-- <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Your ID
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" placeholder="12345" name="options" [(ngModel)]="newTask.options">
        </div> -->
        </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Task Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Task 1" name="taskname" [(ngModel)]="newTask.taskname">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                    Deadline
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="DD/MM/YYY" name="enddate" [(ngModel)]="newTask.enddate">
              </div>
            </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Task Details
              </label>
              <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-10 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="Details" name="taskdetails" [(ngModel)]="newTask.taskdetails"></textarea>
            </div>
        </div>
        <div style="text-align: center;"><button (click)="check()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded-lg text-xl">ADD TASK</button></div>
    </form>
    </div>
    <footer class="text-gray-100 body-font bg-gray-900 footer" *ngIf="!loader">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img class="fill-current h-15 w-15" width="54" height="54" viewBox="0 0 54 54" src="../../../assets/logo.png" style="margin-top: 5px;">
             
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0">© 2020 Inception Wave</p>
          <span class="inline-flex sm:ml-auto sm:mt-0 justify-center sm:justify-start tp">
            <a class="ml-3 text-gray-300 hover:text-white" href="https://www.facebook.com/inceptionwave1202/">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-300 hover:text-white" href="https://www.instagram.com/inception_wave/?hl=en">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-300 hover:text-white" href="https://www.linkedin.com/company/inceptionwave">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
    </footer>
</body>
</html>