/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #6190E8;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -5px;
    min-height: 47rem;
    z-index: 999;
    background: rgb(255, 187, 0);
    color: black;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0e0e0f;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(255, 187, 0);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: rgb(255, 187, 0);
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE BOTH
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.navv{
    background-color: white;
    margin-top: -10px;
    padding: 0%;
    margin-left: 100px;
    width: 1230px;
}
.navit{
    margin-top: -31px;
    margin-left: 55px;
    margin-bottom: -5px;
    font-size: 16px;
}
.navit1{
    margin-top: -31px;
    margin-left: 700px;
    margin-bottom: -5px;
    font-size: 16px;
}
.navvv{
    margin-left: 50px;
}
.navvv1{
    margin-left: 90px;
}
/* ---------------------------------------------------
    CONTENT STYLE DASH
----------------------------------------------------- */
.alert {
    padding: 10px;
    background-color: green;
    color: white;
    margin-left: 230px;
    width: 1230px;
    margin-bottom: 40px;
}
.tname{
    height: 3rem;
    margin-left: 40px;
    margin-top: 40px;
    width: 300px;border-color: white;
    background: #ff4b1f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.atname{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.card1{
    width: 95em; min-height: 47.5rem;margin-left: 0px;margin-top: -70px;
    background: #6190E8;
}
.hname{
    text-align: center;margin-top: 20px;
}
.hrs{
    border: 1px black solid;margin-left: 60px;width: 1350px;
}
.imgg{
    margin-left: -20px;margin-top: -10px;
}
.nnaavv{
    margin-top:-40px;
}
.navi{
    margin-top:30px;
    margin-bottom: -20px;
}
.navi1{
    margin-top:20px;
    margin-bottom: -20px;
}
.titles{
    margin-top:30px;
    margin-bottom: -20px;
    width: 200px;
}

.btn{
    background-color: rgb(255, 187, 0);
    border-color: rgb(255, 187, 0);
    font-size: 18px;
}
.btn1{
    margin-left: 50px;
    background-color: red;
    border-color: red;
}
.bbtn{
    margin-left: 0px;
    margin-top:20px;
    margin-bottom: -20px;
}
.btn.btn2{
    margin-left: 50px;
}
/* ---------------------------------------------------
    CONTENT STYLE PROFILE
----------------------------------------------------- */

.pfile{
    text-align: center;
    border: 1px grey solid;
    width: 700px;
    margin-top: 70px;
    margin-left: 370px;
    background-color: rgb(255, 217, 0);
}

/* ---------------------------------------------------
    CONTENT STYLE TASKS
----------------------------------------------------- */

.pfile1{
    text-align: center;
    border: 1px grey solid;
    width: 1000px;
    margin-top: 70px;
    margin-left: 200px;
    background-color: rgb(255, 217, 0);
}
.txt{
    margin-left: -2px;
    width: 1100px;
    min-height: 250px;
}
.btn2{
    width: 150px;padding-top: 10px;
    background-color: rgb(255, 217, 0);
}
.inp{
    margin-left: -2px;
    width: 302px;
    margin-top:2px;
}
@media (min-width: 1000px){
    .bbtn{
        margin-left: 1100px;
    }
    
}


@media (max-width: 426px) {
    body{
        width:425px;
    }
    .form{
        width:425px;
    }
    .card1{
        width: 425px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        width: 350px;
        margin-left: 20 px;
        }
    .btn{
        margin-left: -5px;
        width: 350px;
    }
    .btn1{
        margin-left: -5px;
        width: 350px;
    }
    .btn.btn2{
        margin-left: 40px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
    .bbtn{
        margin-left: 30px;
        margin-bottom: 5px;
    }
    .card1.tname{
        margin-left: -10px;
    }
    .txt{
        width: 350px;
        min-height: 200px;
    }
    .inp{
        width: 350px;
    }
    label{
        width: 350px;
    }
}

@media (max-width: 416px) {
    body{
        width:415px;
    }
    .form{
        width:415px;
    }
    .card1{
        width: 415px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .btn{
        margin-left: -5px;
        width: 350px;
    }
    .btn1{
        margin-left: -5px;
        width: 350px;
    }
    .btn2{
        margin-left: 35px;
        background-color: rgb(255, 217, 0);
        width: 200px;
    }
    .bbtn{
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .tname{
        width: 340px;
        margin-left: 20 px;
    }
    .card1.tname{
        margin-left: -10px;
    }
    .txt{
        width: 340px;
        min-height: 200px;
    }
    .inp{
        width: 340px;
    }
    label{
        width: 340px;
    }
}

@media (max-width: 406px) {
    body{
        width:405px;
    }
    .form{
        width:405px;
    }
    .card1{
        width: 405px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        width: 330px;
        margin-left: 20 px;
    }
    .card1.tname{
        margin-left: -10px;
    }
    .txt{
        width: 330px;
        min-height: 200px;
    }
    .inp{
        width: 330px;
    }
    label{
        width: 330px;
    }
}

@media (max-width: 396px) {
    body{
        width:395px;
    }
    .form{
        width:395px;
    }
    .card1{
        width: 395px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        width: 320px;
        margin-left: 20 px;
    }
    .card1.tname{
        margin-left: -10px;
    }
    .txt{
        width: 320px;
        min-height: 200px;
    }
    .inp{
        width: 320px;
    }
    label{
        width: 320px;
    }
    .bbtn{
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .btn2{
        margin-left: 30px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
}

@media (max-width: 386px) {
    body{
        width:385px;
    }
    .form{
        width:385px;
    }
    .card1{
        width: 385px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        width: 310px;
        margin-left: 20 px;
    }
    .card1.tname{
        margin-left: -10px;
    }
    .txt{
        width: 310px;
        min-height: 200px;
    }
    .inp{
        width: 310px;
    }
    label{
        width: 310px;
    }
    .bbtn{
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .btn.btn2{
        margin-left: 40px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
}

@media (max-width: 376px) {
    body{
        width:375px;
    }
    .form{
        width:375px;
    }
    .card1{
        width: 375px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
    width: 17rem;
    height: 3rem;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(255, 217, 0);
    }
    .atname{
        margin-top: 10px;
        margin-left: 0px;
    }
    .navi1{
        margin-top:-60px;
        margin-bottom: 10px;
        margin-left:150px;
    }
    .bbtn{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 355px;
    }
    .btn1{
        margin-left: -5px;
        width: 355px;
    }
    .btn.btn2{
        margin-left: 50px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
    .txt{
        width: 274px;
    }
    .inp{
        width: 274px;
    }
}


@media (max-width: 361px) {
    body{
        width:360px;
    }
    .form{
        width:360px;
    }
    .card1{
        width: 360px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
    width: 17rem;
    height: 3rem;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(255, 217, 0);
    }
    .atname{
        margin-top: 10px;
        margin-left: 0px;
    }
    .navi1{
        margin-top:-60px;
        margin-bottom: 10px;
        margin-left:150px;
    }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 345px;
    }
    .btn1{
        margin-left: -5px;
        width: 345px;
    }
    .btn2{
        margin-left: 50px;
        background-color: rgb(255, 217, 0);
        width: 200px;
    }
    .txt{
        width: 274px;
    }
    .inp{
        width: 274px;
    }
}

@media (max-width: 351px) {
    body{
        width:350px;
    }
    .form{
        width:350px;
    }
    .card1{
        width: 350px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 40px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        width: 340px;
    }
    .btn1{
        width: 340px;
    }
    .btn2{
        margin-left: 40px;
        background-color: rgb(255, 217, 0);
        width: 200px;
    }
    .tname{
        width: 270px;
        margin-left: 10 px;
    }
    .card1.tname{
        margin-left: 0px;
    }
    .txt{
        width: 270px;
        min-height: 200px;
    }
    .inp{
        width: 270px;
    }
    label{
        width: 270px;
    }
}


@media (max-width: 341px) {
    body{
        width:340px;
    }
    .form{
        width:340px;
    }
    .card1{
        width: 340px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 35px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 330px;
    }
    .btn1{
        margin-left: -5px;
        width: 330px;
    }
    .btn.btn2{
        margin-left: 35px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
}


@media (max-width: 331px) {
    body{
        width:330px;
    }
    .form{
        width:330px;
    }
    .card1{
        width: 330px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 30px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 320px;
    }
    .btn1{
        margin-left: -5px;
        width: 320px;
    }
    .btn2{
        margin-left: 40px;
        background-color: rgb(255, 217, 0);
        width: 200px;
    }
}

@media (max-width: 321px) {
    body{
        width:320px;
    }
    .form{
        width:320px;
    }
    .card1{
        width: 320px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        width: 255px;
        margin-left: 20 px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 310px;
    }
    .btn1{
        margin-left: -5px;
        width: 310px;
    }
    .btn.btn2{
        margin-left: 30px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
    .txt{
        width: 255px;
    }
    .inp{
        width: 255px;
    }
    label{
        width: 255px;
    }
}


@media (max-width: 311px) {
    body{
        width:310px;
    }
    .form{
        width:310px;
    }
    .card1{
        width: 310px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: -10 px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 300px;
    }
    .btn1{
        margin-left: -5px;
        width: 300px;
    }
    .btn2{
        margin-left: 35px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
}

@media (max-width: 301px) {
    body{
        width:300px;
    }
    .form{
        width:300px;
    }
    .card1{
        width: 300px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 20 px;
        width: 240px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 290px;
    }
    .btn1{
        margin-left: -5px;
        width: 290px;
    }
    .btn2{
        margin-left: 35px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
    .txt{
        width: 240px;
    }
    .inp{
        width: 240px;
    }
    label{
        width: 240px;
    }
}

@media (max-width: 291px) {
    body{
        width:290px;
    }
    .form{
        width:290px;
    }
    .card1{
        width: 290px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 25 px;
        width: 230px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 280px;
    }
    .btn1{
        margin-left: -5px;
        width: 280px;
    }
    .btn2{
        margin-left: 25px;
        background-color: rgb(255, 217, 0);
        width: 150px;
    }
    .txt{
        width: 230px;
    }
    .inp{
        width: 230px;
    }
    label{
        width: 230px;
    }
}

@media (max-width: 280px) {
    body{
        width:280px;
    }
    .form{
        width:280px;
    }
    .card1{
        width: 280px; min-height: 36.8rem;margin-left: 0px;margin-top: -70px;
    }
    .tname{
        margin-left: 25 px;
        width: 220px;
        }
    .bbtn{
        margin-left: -5px;
        margin-bottom: 5px;
    }
    .btn{
        margin-left: -5px;
        width: 270px;
    }
    .btn1{
        margin-left: -5px;
        width: 270px;
    }
    .btn.btn2{
        margin-left: 35px;
        background-color: rgb(255, 217, 0);
        width: 200px;
    }
    .txt{
        width: 220px;
    }
    .inp{
        width: 220px;
    }
    label{
        width: 220px;
    }
}