
@media(min-width: 1000px){
    .dashhead{
        font-size: 50px;
    }
    .pldr{
        margin-left: 700px;
    }
    .daassh{
        width: 400px;margin-left: 240px;
      }
    }
    
    @media(max-width: 426px){
        .dashhead{
            font-size: 30px;
        }
        .tp{
            margin-top: 10px;
        }
        .pldr{
            margin-left: 150px;
        }
        .flex{
            display: block;
        }
    }
    
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";