
@media(min-width: 1000px){
    .ddashh{
        margin-left: 500px;
    }
    .dashhead{
        font-size: 50px;
    }
    .pldr{
        margin-left: 700px;
    }
    .forMobile{
        display: none;
    }
    }
    @media(max-width: 1000px){
        .forDesk{
            display: none;
        }
    }
    @media(max-width: 426px){
        .dashhead{
            font-size: 30px;
        }
        .tp{
            margin-top: 10px;
        }
        .pldr{
            margin-left: 140px;
        }
        .details{
            zoom: 1.1;
        }
    }
    @media(max-width: 393px){
        .com{
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
    
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";